<h1>Pages#about</h1>
<div>


			
				
				<b id="pics"><img class="image_on" src="/images/bored.jpg" alt="logo" /> <img class="image_off" src="/images/happy.jpg" alt="logo" /></b>
			
			



	</div>

