
	<div>

		<ul>
			<li>
				<a href="pages/about">
				<b id="home"><img class="image_on" src="/images/Details.png" alt="logo" /><img class="image_off" src="/images/DetailsRoll.png" alt="logo" /></b>
			</a>
			</li>
			<li>
				<a href="pages/lodging">
				<b id="home"><img class="image_on" src="/images/Lodging.png" alt="logo" /><img class="image_off" src="/images/LodgingRoll.png" alt="logo" /></b>
			</a>
			</li>

			<li>
				<a href="pages/registry">
				<b id="home"><img class="image_on" src="/images/Registry.png" alt="logo" /><img class="image_off" src="/images/RegistryRoll.png" alt="logo" /></b>
			</a>
			</li>
		</ul>

         

	</div>
