<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.bgimg {background-image: url("/images/plants.jpeg")}
.bgimg2 {background-image: url("/images/lotsLeaves.jpg")}
	
body{
		background-image: url("/images/lotsLeaves.jpg");
	  	background-repeat: no-repeat;
  		background-attachment: fixed;
  		background-size: cover;
	}
</style>

<body>


<!-- Header / Home-->
<!--<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">-->

<header class="w3-display-container w3-padding-64 w3-light-grey w3-grayscale-min w3-center" style="height:500px;" id="home">					
	
	<b id="pics">
		<img class="image_on w3-display-position rotate10" style="top:300px;left:200px" src="/images/KatSmile.jpg" alt="logo" /> 
		<img class="image_off w3-display-position rotate10" style="top:300px;left:200px" src="/images/KatLaugh.jpg" alt="logo" />
	</b>

	<b id="pics">
		<img class="image_on w3-display-position rotateNeg11" style="top:300px;right:200px" src="/images/ChadSmile.jpg" alt="logo" /> 
		<img class="image_off w3-display-position rotateNeg11" style="top:300px;right:200px" src="/images/ChadOdd.jpg" alt="logo" />
	</b>
			
  <div class="w3-display-middle w3-text-black w3-center" style="top:200px">
    <h1 class="w3-jumbo" style="font-family:old-english">Kat & Chad</h1>
    <h2>Are getting married</h2>
    <h2><b>September 17th, 2022</b></h2>
  </div>
	<!-- Background photo -->
<div class="w3-display-container w3-transparent" style="height:300px;">

</div>
</header>

<!-- Navbar (sticky bottom) -->
<div class="w3-bottom w3-hide-small">
  <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
    <a href="#home" style="width:25%" class="w3-bar-item w3-button">Home</a>
    <a href="#details" style="width:25%" class="w3-bar-item w3-button">Details</a>
    <a href="#lodging" style="width:25%" class="w3-bar-item w3-button">Lodging</a>
    <a href="#registry" style="width:25%" class="w3-bar-item w3-button w3-hover-black">Registry</a>
  </div>
</div>
		<!-- Background photo -->
<div class="w3-display-container w3-transparent" style="height:300px;">

</div>
	
<!-- Background photo -->
<div class="w3-display-container w3-transparent" style="height:200px;" id="details">

</div>

<!-- Details -->
<div class="w3-display-container w3-padding-64 w3-light-grey w3-grayscale-min w3-center" style="height:500px;" >

	<b id="pics">
		<img class="image_on w3-display-position rotate10" style="bottom:0px;left:100px" src="/images/RenFaireSerious.jpg" alt="logo" /> 
		<img class="image_off w3-display-position rotate10" style="bottom:0px;left:100px" src="/images/RenfaireOdd.jpg" alt="logo" />
	</b>
	<b id="pics">
		<img class="image_on w3-display-position rotateNeg25" style="bottom:50px;left:350px" src="/images/JudgeBed.jpg" alt="logo" /> 
		<img class="image_off w3-display-position rotateNeg25" style="bottom:50px;left:350px" src="/images/JudgeBed2.jpg" alt="logo" />
	</b>
	
	<div class="w3-display-position" style="top:100px;right:250px">
		<h1 class="w3-text-black" style="font-family:old-english"><b>Details</b></h1>
		<p>September 17th, 2022</p>
		  <p>Sunset Place</p> 
		  <p>676 W. Dansville Rd.</p>
			<p>Mason, MI 48854</p>
		<a href="http://www.sunset-place.com/">sunset-place.com</a>
	</div>


</div>
	  
	<!-- Background photo -->
<div class="w3-display-container w3-transparent" style="height:200px;" id="lodging">

</div>




<!-- Wedding information -->
<div class="w3-display-container w3-padding-64 w3-light-grey w3-grayscale-min w3-center" style="height:600px;">


	<b id="pics">
		<img class="image_on w3-display-position rotate22" style="bottom:0px;right:100px" src="/images/KatBar.jpg" alt="logo" /> 
		<img class="image_off w3-display-position rotate22" style="bottom:0px;right:100px" src="/images/KatBarSmile.jpg" alt="logo" />
	</b>
	<b id="pics">
		<img class="image_on w3-display-position rotateNeg11" style="bottom:300px;right:400px" src="/images/BrisketCute.jpg" alt="logo" /> 
		<img class="image_off w3-display-position rotateNeg11" style="bottom:300px;right:400px" src="/images/BrisketDone.jpg" alt="logo" />
	</b>
	
	<div class="w3-display-position" style="top:100px;left:150px">
		<h1 class="w3-text-black" style="font-family:old-english"><b>Lodging</b></h1>
		<br>
        <h2>Camping and Cabins</h2>
        <p>Available on site<br>
		   at Sunset Place!</p>
		<br></br>
        <h2>Hotel</h2>
        <p>Holiday Inn Express & Suites<br>
         Okemos, MI</p>
	</div>


</div>
			
	<!-- Background photo -->
<div class="w3-display-container w3-transparent" style="height:200px;" id="registry">

</div>		

	
<!-- Registry -->
<div class="w3-display-container w3-padding-64 w3-light-grey w3-grayscale-min w3-center" style="height:600px;">


	<b id="pics">
		<img class="image_on w3-display-position rotate15" style="bottom:200px;left:50px" src="/images/bored.jpg" alt="logo" /> 
		<img class="image_off w3-display-position rotate15" style="bottom:200px;left:50px" src="/images/happy.jpg" alt="logo" />
	</b>
	<b id="pics">
		<img class="image_on w3-display-position rotateNeg25" style="bottom:0px;left:300px" src="/images/Cats.jpg" alt="logo" /> 
		<img class="image_off w3-display-position rotateNeg25" style="bottom:0px;left:300px" src="/images/CatsLook.jpg" alt="logo" />
	</b>

	
	<div class="w3-display-position" style="top:100px;right:250px">
		<h1 class="w3-text-black" style="font-family:old-english"><b>Registry</b></h1>
		<br>
        <h2>Amazon</h2>
        <p>coming soon</p>
		<br></br>
        <h2>Some Other Thing</h2>
        <p>also coming soon</p>
	</div>


</div>

<!-- RSVP section -->
<div class="w3-display-container w3-transparent" style="height:200px;">
	<div class="w3-display-middle w3-padding w3-light-grey">
		<h1>SAVE THE DATE!</h1>
	</div>
</div>

<!-- RSVP modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <h1 class="w3-wide">CAN YOU COME?</h1>
      <p>We really hope you can make it.</p>
      <form>
        <input class="w3-input w3-border" type="text" placeholder="Name(s)" name="name">
      </form>
      <p><i>Sincerely, John & Jane</i></p>
      <div class="w3-row">
        <div class="w3-half">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-green">Going</button>
        </div>
        <div class="w3-half">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-red">Can't come</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
<div class="w3-hide-small" style="margin-bottom:32px"> </div>

</body>
</html>