<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.bgimg {background-image: url("/images/plants.jpeg")}
.bgimg2 {background-image: url("/images/lotsLeaves.jpg")}
	
body{
		background-image: url("/images/lotsLeaves.jpg");
	  	background-repeat: no-repeat;
  		background-attachment: fixed;
  		background-size: cover;
	}
</style>
	
	
<body>
	<!-- Header / Home-->
<!--<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">-->

<header class="w3-display-container w3-padding-64 w3-light-grey w3-grayscale-min w3-center" style="height:500px;" id="home">					
	
	<b id="pics">
		<img class="image_on w3-display-position rotate10" style="top:300px;left:100px" src="/images/BrisketBlanket.jpg" alt="logo" /> 
		<img class="image_off w3-display-position rotate10" style="top:300px;left:100px" src="/images/BrisketBlanketCute.jpg" alt="logo" />
	</b>
			
  <div class="w3-display-middle w3-text-black w3-center" style="top:200px">
    <h1 class="w3-jumbo" style="font-family:old-english">Hotel Registration</h1>
  </div>
	<!-- Background photo -->
<div class="w3-display-container w3-transparent" style="height:300px;">

</div>
</header>
	
	</body>
